 
.w-w{
        position: relative;
        padding: 60px 40px;
        background: var(--color-white);
        margin-bottom: 30px;
        text-align: center;
        border-radius: 10px;
        transition: all 0.6s ease-in-o;
}
.radius{
    border-radius: 10px;
}
.i-h6{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: block;
    line-height: 26px;
    margin-bottom: 8px;
    color: #0191BD;
}
.transparent-btn{
    background: transparent;
    color: #fff;
    border: 1px solid #0191BD;
}
.transparent-btn1 {
    background: transparent;
    color: lightskyblue;
    border: 1px solid;
}
.btn-bg-theme{
    background:#0191BD;
    color: #fff;
}
.theme-btn-one {
    display: inline;
    padding: 1px 25px;
    border-radius: 20px 0 20px 0;
    line-height: 56px;
    min-height: 56px;
    min-width: 60px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-bottom: 1rem;
}
.hw{
    width: 160px;
    height: 3rem;
}
.theme{
    display: inline;
    padding: 1px 25px;
    border-radius: 10px 10px;
    line-height: 56px;
    min-height: 56px;
    min-width: 60px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-bottom: 2rem;
}
.btn-bg-theme:hover{
    background: white;
    color: #0191BD;
    border: 1px solid #0191BD;
}
.about{
    line-height: 40px;
    font-weight: 700;
    color: #0191BD;
    font-size: 40px;
    padding: 0 0 10px 0;
    text-decoration: underline;
}
.mt-15{
    margin-top: -15rem;
}
.mt-18{
    margin-top: -18rem;
}
.bg-our{
    background-color: #F0F3F9
}
 
.content{
    font-weight: 700;
    color: black;
    font-size: 40px;
    padding: 0 0 10px 0;
    line-height: normal;
}
.icon{
    height: 55px;
}
 
.desc{
    line-height: 32px;
    font-weight: 700;
    color: black;
    font-size: 16px;
    padding: 0 0 10px 0;
}
.desc1{
    line-height: 40px;
    font-weight: 700;
    color:white;
    font-size: 20px;
    padding: 0 0 10px 0;
}
.o-s-b{
        position: absolute;
        width: 150px;
        height: 50px;
        background: var(--primary-color-one);
        text-align: center;
        line-height: 50px;
        color: #fff;
        border-radius: 50px;
        left: 0;
        padding-top: 2px;
        right: 0;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        margin: auto;
        font-family: var(--creote-family-one);
        bottom: -24px;
}
.m-l{
    margin-left: 17rem;
}
 
.p{
    font-size: 16px;
    line-height: 20px;
    font-family:  Poppins;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.5s ease-in-out;
    color: var(--text-color-light);
    margin-bottom: 15px;
}
.padding{
    padding: 0 0 8px 0;
}
.f-w{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    background-color: #282F3B;  
}
.india{
    font-size: 20px;
    line-height: 30px;
    color: #0191BD;
    font-weight: 700;
    margin-bottom: 5px;
}
.b{
    color: #69727d;
    font: 16px;
}
.l-icon{
        font-size: var(--icon-size, 25px);
        line-height: var(--icon-size, 25px);
        width: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
        height: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
            --e-social-icon-icon-color: #fff;
            display: inline-flex;
            background-color: #0077b5;
            background-color: #69727d;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
}
.icon_bg_rotate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    text-align: center;
}
.j-o{
    background-color: #0191BD;
    padding: 30px 0 30px 0;
    position: relative;
    flex-wrap: wrap;
}
.c-f{
    padding: 15px 15px 15px ;
    align-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.tabs{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.img-p{
    margin-left: 0px;
    padding: 255px 30px 50px;
    font: 16px;
    position: absolute;
    margin-left: 30%;
    margin: -30%;
}
.f-t{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 170px 0;
    position: relative;
}
.phone{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    color: var(--primary-color-one);
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-bottom: 5px;
}
.height-22{
    height: 22rem;
}
.width-16{
    width: 16rem;
}
@media screen and (max-width: 767px) {
    .width-16 {
        width: 100%;
    }
    .plane-bg-img{
        display: none;
    }
    .mt-5{
        margin-top: 0 !important;
    }
}
.mt-5{
    margin-top: 5rem;
}
.w-5\/6 {
    width: 83.333333%;
}
.read-more-border{
    border-top: 3px solid;
    margin: 20px 10px;
    padding: 30px 0px;
}
.about1{
    line-height: 35px;
    font-weight: 500;
    color: #0191BD;
    font-size: 35px;
    font: bold;    
}
.mb-17{
    margin-bottom: 17rem;
}
.m-5{
    margin-left: 3rem;
}
.ml-2{
    margin-left: 6rem;
}
.mr-5{
    margin-right: 5rem;
}
.-left-14{
    left: -14.5rem;
}
.m-b-1{
    margin-bottom: -1rem;
} 
.page_header{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--primary-color-two);
    opacity: .85;
    z-index: 1;
}
.t-w{
    width: 100%;
    text-align: justify;
}
.icon_box_all{
    text-align: center;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.icon_box_all.style_one{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 35px 30px 30px;
    border-radius: 10px;
}
.m-t{
    padding: 0rem;
    margin-top: -40rem;
}
.m-l{
    margin-left: 8rem;
}
.m-05{
    margin: 0.5rem
}
.m-r-0{
    margin-right: 0rem;
}
.m-l-5{
    margin-left: 5rem;
}
.-m-175{
    margin-top: -1.75rem;
}
.m-t-5{
    margin-top: -5rem;
}
.f-z-16{
    font-size: 16px;
}
.ml-12{
    margin-left: 12rem;
}
.mb-5{
    margin-bottom: -5rem;
}
.zeca-hw{
    height: 50px;
    width: 200px;
}
.modal_popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    padding: 100px 0 0;
    overflow: auto;
    background: none;
    transform: translateY(-101%);
    transition: all 700ms ease;
     }
.ruby{
    display: ruby;
}
.custom-text-center{
    text-align: -webkit-center;
}
.custom-btn-ourserver{
    position: absolute;
    bottom: -35px;
    text-align: center;
    width: -webkit-fill-available;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0191BD;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.5;
  }
.custom-base-img:hover .overlay{
    height: 100%;
}
.adoption-bg-img {
    background-image: url('../src/assets/img/tab-sec-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
}
.adoption-blury::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #0191BD 2%, #fff0 129%);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.adoption-bg-content{
    /* background-image: url('../src/assets/img/adoption-ba nner-2.jpg'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}
.bg-content{
    background-image: url('../src/assets/img/adoption-banner-1.jpg.jpg');
}
.bg-content-1{
    background-image: url('../src/assets/img/adoption-banner-2.jpg.jpg');
}
.bg-content-2{
    background-image: url('../src/assets/img/adoption-banner-3.jpg.jpg');
}
.bg-content-3{
    background-image: url('../src/assets/img/adoption-banner-4.jpg.jpg');
}
.bg-content-4{
    background-image: url('../src/assets/img/adoption-banner-5.jpg.jpg');
}
.bg-content-5{
    background-image: url('../src/assets/img/adoption-banner-6.jpg.jpg');
}
 .bg-content-A{
    background-image: url('../src/assets/img/Quality.jpg');
 }
 .bg-content-B{
    background-image: url('../src/assets/img/Technologies.jpg');
 }
 .bg-content-C{
    background-image: url('../src/assets/img/Reliable.jpg');
 }
 .bg-content-D{
    background-image: url('../src/assets/img/adoption-banner-4.jpg.jpg');
 }
 .bg-content-E{
    background-image: url('../src/assets/img/adoption-banner-5.jpg.jpg');
 }
 .bg-content-F{
    background-image: url('../src/assets/img/process.png');
 }
.adoption-content{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}
.adoption-tab{
    position: absolute;
    left: 250px;
    background: #fff;
    border-radius: 1rem;
    top: 30px;
    padding: 2rem;
    z-index: 1;
}
.adoption-tab li{
    font-size: 16px;
    position: relative;
    font-weight: 700;
    color: #0191BD;
    line-height: 28px;
    /* font-family: Poppins !important; */
    border-bottom: 1px solid #aaafb869;
    background: #fff0;
    border-radius: 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.text-color{
    color: #0191BD;
}
.adoption-tab li:hover {
    transform: scale(1.1);
}
.adoption-content{
    margin-left: 40%;
}
.callForFreeConsultation{
    background: #0191BD !important;
    color: #fff !important;
    border-radius: 10px !important;
}
.icon_box_all.style_three {
    text-align: center;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.no-border{
    border: none !important;
}
.call-icon{
    background: #fff;
    color: #0191BD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 10px;
}
.marginLeft-45{
    margin-left: 45%;
}
@media screen and (max-width: 938px) {
    .adoption-tab{
        position: relative !important;
        left: 0px !important;
        background: #fff;
        border-radius: 1rem;
        padding: 2rem;
        z-index: 1;
        width: 100%;
        margin-bottom: 4rem;
    }
    .adoption-bg-img{
        padding: 2rem;
    }
    .adoption-content{
        margin-left: 0px;
    }
    .marginLeft-45{
        margin-left: 0%;
    }
}
.jionus-head{
    font-size: 1.625rem;
    line-height: 26px;
    margin-bottom: 8px;
    color: #232933;
    font-weight: 600;
}
.current{
line-height: 1.3rem;
    font-size: 1.1rem;
    padding-bottom: 16px;
    position: relative;
    margin: 0;
    letter-spacing: .5px;
}
.textarea{
    height: 36px;
    box-sizing: border-box;
    padding: 0 32px 0 14px;
    font-size: .9375rem;
}
.mr-17{
    margin-right: 17rem;
}
.mr-8{
    margin-right: 8px;
    flex-grow: 1;
}
.mb-3{
    margin-bottom: 3rem;
    margin-top: 0rem;
}
    .careers-search-results{
        text-align: center;
        padding: 24px;
        color: var(--sub-title-color);
        font-size: 1.125rem;
        margin: 1rem;
    }
    .search-btn{
        width: 250px;
        height: 40px;
        margin-top: auto;
        border-radius: 4px;
    }
    .p-28{
        padding-right: 24rem;
    }
.t-m{
    text-align: left;
    margin-left: 14rem;
    margin-top: 5rem;
}
.poweredby{
    display: inline-flex;
    align-items: center;
    padding-right: 11.5rem;
}
.cw-poweredby-p {
    margin: 0 8px 0 0;
    color: var(--grey-text1-color);
    font-size: .875rem;
    font-family: var(--font-regular);
    flex-shrink: 0;
}
.m-h-w{
    margin-left: 6rem;
    height: 44px;
    width: 10rem;
}
.add{
    position: absolute;
    left: 100px;
    background: #fff;
    border-radius: 1rem;
    top: 30px;
    padding: 2rem;
    z-index: 1;
}
.m-l-25{
    margin-left: 22rem;
}
.m-t-b{
    margin-top: -12rem;
    margin-bottom: 8rem;
}
.m-t-b1{
    margin-top: -8rem;
    margin-bottom: 5rem;
}
.box-icon{
    background: #fff;
    padding: 35px 30px 0px;
    border-radius: 10px;
}
.boder{
    border: 1px solid; 
}
.text-margin{
    margin-left: 14rem;
    text-align: left;
}
.zoho{
    width: 99px;
    height: 34px;
    flex-shrink: 0;
    align-items: center;
}
.m-l{
    margin-left: 25rem;
}
.m-b{
    margin-block: auto;
}
.p8{
    padding: 8px 0 0 15px;
}
.f-s{
    font-size: 1.75rem;
}
.p-t-b{
    padding-bottom: 0rem;
    padding-top: 0rem;
}
.m-t-b{
    margin-bottom: 10rem;
    margin-top: 0px;
}
.m-0{
    margin-top: 0rem;
}
.mt-2{
    margin-top: -2rem;
}
.m-t-b-10{
    margin-bottom: 10rem;
    margin-top: -10rem;
}
.m-t-b-11{
    margin-bottom: 10rem;
    margin-top: -15rem;
}
.m-t-b-16{
    margin-bottom: 16rem;
    margin-top: -20rem;
}
.margin-0{
    margin: 0px;;
}
.m-t{
    font-size: 19px;
    text-align: left;
    margin-right: 3rem;
}

.m-l{
    margin-left: 15%;
}
.m-l-45{
    margin-left: 45%;
}
.p-2-5{
    padding: 2.5rem;
}
 .py{
    padding: 30px 0px;
    width: 19rem;
 }
 .mt-3{
    margin-top: 3rem;
 }
 .mlb-1{
    margin-bottom: 0.75rem;
    margin-left: 13rem;
    font-size: 19px;
 }
 .mft{
    margin-left: 13rem;
    font-size: 17px;
    text-align: left;
 }
 .title{
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    color: #0191BD;
    padding: 0 0 10px 0;
    text-decoration: underline;
    font-family: var(--creote-family-one);
 }
 .heading{
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    color:  #0191BD;
    padding: 0 0 10px 0;
    font-family: var(--creote-family-one);
 }
 .col-lg-4{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.ml10{
    margin-left: -10rem;
}
.mt8{
    margin-top: -8rem;
}
.faq_header{
    position: relative;
    background: var(--primary-color-three);
    border-radius: 10px;
    padding: 25px 70px 22px 20px;
    border: 1px solid var(--border-color-dark);
    margin-bottom: 15px;
    font-family: var(--creote-family-one);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    z-index: 2;
    cursor: pointer;
}
.first-box-m{
    margin: 0px;
    margin-bottom: 20rem;
    margin-top: -9rem;
}
.m-t-6rem{
    margin-top: 6rem;
}
.animate-spin{
    width: 8rem;
}
.icon_box_new_box.type_two .svg_image{
    width: 60px;
    margin: auto;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
}
@keyframes rotateme{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}

.icon_bg_rotate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.icon_box {
    position: relative;
    line-height: 110px;
    border: 1px solid #e4e7ee;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: -10px;
    display: block;
    margin: 0 auto 15px;
    padding: 12px;
    transition: all 0.6s ease-in-out;
    z-index: 10;
}
.icon_bg_rotate{
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 4s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 4s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotateme;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.icon_bg_rotate::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 14px;
    right: 8px;
    background: #0191BD!important;
    transition: all 0.6s ease-in-out;
}
.bg-contact{
    background-color: #0191BD;
}
.border-content{
    border-left: 5px solid #fff;
    padding-left: 10px;
}
.border-bottom-footer{
    border-bottom: 2px solid #0191BD;
    padding-bottom: 10px;
    margin-bottom: 2rem;
}
.contact-form-icon{
    background: #fff;
    color: #0191BD;
    width: 2rem;
    height: 2rem;
}
.cw-hero-banner h2 {
    font-size: 3rem;
    padding: 0;
    letter-spacing: .01em;
    line-height: 1.1;
    margin-bottom: 16px;
    position: relative;
}
.header-block.cnd-login-menu {
    z-index: 11;
}
.header-block {
    padding: 32px 60px 0;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex
;
    align-items: center;
}
.page_header_default {
    position: relative;
    min-height: 320px;
    padding: 100px 0 100px;
    overflow: hidden;
    align-items: center;
}
.page_header_default::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0191BD;
    opacity: .85;
    z-index: 1;
}
.about-text{
    color: #fff;
    font-size: 60px;
    z-index: 1;
    line-height: 70px;
    font-weight: 700;
    font-family: var(--creote-family-one);
}
.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #fff;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    z-index: 1;
}
.font{
    font-family: "Poppins", Sans-serif;
}
.f-s-19{
    font-size: 19px;
}
.px-4-25{
    padding-left: 4.25rem;
    padding-right: 1.25rem;
}
.m-l-10{
    margin-left: -10px;
}
.m-t-1{
       margin-top: -1rem;
}
.m-l-4{
    margin-left: 4rem;
}
.m-t-16{
    margin-top: -16rem;
}
.img-h{
    margin-top: -16rem;
    width: 81%;
    height: 210px;
}
.m-l-11{
    margin-left: 11rem;
}
.m-t-13{
    margin-top: -13rem;
}

.mt-40{
    margin-top: 5rem;
}
.m-1{
    margin: -1rem;
}
.sidebar{
    position: absolute;
    left: 100px;
    background: #fff;
    border-radius: 1rem;
    top: 30px;
    /* padding: 2rem; */
    z-index: 1;
}
.li-a{
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-dark);
    line-height: 28px;
    text-transform: none;
    position: relative;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}
.ml5{
    padding-left: 5rem;
    padding-right: 3rem;
}
.width{
    width: 19rem;
}
.widget-title{
    position: relative;
    margin-bottom: 50px;
    font-size: 18px;
    margin-left: 60px;
    font-weight: 700;
    line-height: 26px;
    color: var(--heading-dark);
    font-family: var(--creote-family-one);
    padding-top: 8rem;
}
.mt-11{
    margin-top: 11rem;
}
.py-1-25{
    padding-top: 1.25rem;
}
.pl-13{
    padding-left: 13rem;
}
.font-hw{
    font-weight: 600;
    line-height: 26px;
}
.parallax_cover{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
element.style {
    --smush-placeholder-width: 675px;
    --smush-placeholder-aspect-ratio: 675 / 1200;
    transform: translate3d(0px, -14px, 0px) scale(1.3);
    will-change: transform;
    transition: transform 0.6s cubic-bezier(0, 0, 0, 1);
}
.simple_image_boxes-parallax_cover img {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.simple_image_boxes img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px !important;
}

.parallax_cover img {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}
.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
img, svg {
    vertical-align: middle;
}
.mb-10{
    padding-bottom: 10rem;
}
.py-4-25{
    padding-top: 4.25rem;
    padding-bottom: 0.25rem;
}
.display-p{
    display: flex;
    padding-left: 3rem;
    color: #fff;
}
.pl2{
    padding-left: 2rem;
}
.main-menu-li{
    text-transform: uppercase;
    /* display: inline-block; */
    vertical-align: middle;
    position: relative;
    opacity: 1;
    line-height: 1.5rem;
    font-weight: 500;
    font-size: .9375rem;
}
.max-width{
    max-width: 39rem;
}
.p-t14{
    padding-top: 10rem;
}
.text{
        font-size: 3rem;
        letter-spacing: .01em;
        line-height: 1.1;
        /* font-family: math; */
        font-family: Montserrat, sans-serif;
}
.font-l{
    font-size: 1.1rem;
    line-height: 2rem;
}
.background-color{
    background-color: #191b22;
    opacity: 0.70;
}
.btn-view{
    width: 200px;
}
.mb{
    margin-bottom: 2rem;
}
.mt-6rem{
    margin-top: 6rem;
}
.floating-menu .floating_menu_box {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}
.floating_menu_box {
    position: fixed;
    width: 100%;
    height: auto;
    text-align: center;
    left: 0;
    z-index: 99;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    opacity: 0;
    bottom: -100px;
    visibility: hidden;
}
.floating_menu_box ul {
    display: inline-block;
    position: relative;
    border-radius: 50px;
    background: #fff;
    padding: 10px 55px 10px 15px;
    box-shadow: 1px 4px 8px 6px rgba(0, 0, 0, .05);
    margin: auto;
    margin: 0;
}
.floating_menu_box ul .close {
    position: absolute;
    right: 4px;
    top: 0;
    width: 38px;
    height: 38px;
    background: var(--primary-color-one);
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.floating_menu_box ul li {
    display: inline-block;
    position: relative;
    margin-bottom: 0px !important;
}